<!DOCTYPE html>
<html>
  <style>
    .title {
      background: teal;
      color: #fff;
      padding: 10px;
      font-family: sans-serif;
      margin-right: 40%;
      margin-bottom: 2%;
      margin-top: 2%;
    }
    .button{
      background: gray;
      width: 50%;
      color: #fff;
      padding: 10px;
      font-family: sans-serif;
    }
  </style>
  <head>
    <meta charset="utf-8">
    <title>Accounts</title>
  </head>

    <body>

      <h3 class = 'title'>Checking Accounts</h3>
      <div class="container.fluid">
        <div class="row"  >
            <button class = 'button'>{{bankUser?.id}}</button>
        </div>
<!--        <div class="row" *ngFor="let bAccount of bankUser?.accounts" >-->
<!--          <button class = 'button'>-->
<!--            {{bAccount.accountName}}-->
<!--            {{bAccount.id}}-->
<!--            {{bAccount.balance}}-->
<!--          </button>-->
<!--        </div>-->
      </div>

      <h3 class = 'title'>Savings Accounts</h3>
      <button class = 'button'>Saving Account - ****</button>
    </body>
</html>
