<!DOCTYPE html>
<html>
  <style>
    .title {
      background: teal;
      color: #fff;
      padding: 10px;

      font-family: Monaco;


      margin-bottom: 1%;
      margin-top: 2%;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    }
    .button{
      background: gray;
      width: 50%;
      color: #fff;
      padding: 10px;
      margin: 10px;
      font-family: sans-serif;
      border-radius: 5px;
    }
    #balance{
     text-align: end;
    }
  </style>
  <head>
    <meta charset="utf-8">
    <title>Accounts</title>
  </head>


  <div class="text-end ">
    <a class="btn btn-secondary" routerLink = "/user-account/new">Add New Account</a>
  </div>
  <div class="text-end">
    <a class="btn btn-secondary" routerLink="/user-account/{{this.bankUser?.id}}/transfer">Transfer Funds</a>
  </div>

    <body style="background: inherit">

      <h3 class = 'title'>Accounts</h3>
     <div class="container.fluid">
        <div class="row-cols-1" *ngFor="let bAccount of bankUser?.accounts" >
            <div class = 'button' routerLink="/user-account/{{bAccount.id}}/view">
              {{bAccount.accountName}} - {{bAccount.id}}<p id="balance">Balance: ${{bAccount.balance}}</p>
            </div>
        </div>

      </div>

</html>














<!--        <div class="row" *ngFor="let bAccount of bankUser?.accounts" >-->
<!--          <button class = 'button'>-->
<!--            {{bAccount.accountName}}-->
<!--            {{bAccount.id}}-->
<!--            {{bAccount.balance}}-->
<!--          </button>-->
<!--        </div>-->
