@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.custom-navbar{
  background-color: teal ;
}

.navbar-title{
  font-family: Monaco;
  color: #a5c2c5;
  margin-left: 4%;
  font-size:25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);


}

.nav-item{
  font-family: Monaco;
  color: #a5c2c5;
  font-size: 17px;


}

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 90px;
  width: 90px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/newTealLogo.png') no-repeat center center;
  background-size: contain;
}
