<div class="text-center">
  <h1 class="panel-title">Transfer Funds</h1>
  <br><br>
  <form id="new-account-form">
    <label for="account1-name"  class="form-label" >Account to withdraw from: </label>
    <input id="account1-name" placeholder="Type Account Name" required #accountName><br><br>
    <label for="account1-amount" class="form-label">Amount to be transfered</label>
    <input id="account1-amount" placeholder="amount" required #accountName><br><br>


    <label for="account2-name"  class="form-label" >Account sending funds to: </label>
    <input id="account2-name" placeholder="Type Account Name" required #accountName><br><br>
    <label for="account2-amount" class="form-label">Amount to be transfered</label>
    <input id="account2-amount" placeholder="amount" required #accountName><br><br>



<!--    <a class="btn btn-primary text-end" (click)="add(accountName.value); accountName.value = ''">Submit</a>-->
  </form>

</div>


<!--                                     OR-->



<!--<div class="container">-->
<!--  <h2>Transfer Money</h2>-->
<!--  <form [formGroup]="transferForm" (ngSubmit)="transferMoney()">-->
<!--    <div class="form-group">-->
<!--      <label for="fromAccount">From Account:</label>-->
<!--      <select id="fromAccount" formControlName="fromAccount" class="form-control" required>-->
<!--        <option *ngFor="let account of accounts" [value]="account.id">{{ account.accountName }}</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="toAccount">To Account:</label>-->
<!--      <select id="toAccount" formControlName="toAccount" class="form-control" required>-->
<!--        <option *ngFor="let account of accounts" [value]="account.id">{{ account.accountName }}</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="amount">Transfer Amount:</label>-->
<!--      <input type="number" id="amount" formControlName="amount" class="form-control" step="0.01" required>-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary">Transfer</button>-->
<!--  </form>-->
<!--</div>-->
<!--&ndash;&gt;-->














