<div class="text-center">
  <h1 class="panel-title">Transfer Funds</h1>
  <br><br>
  <form id="new-account-form">
    <label for="account1-name" class="form-label">Account to withdraw from:</label>
    <select id="account1-name" required>
      <option value="" selected>Select an account</option>
      <!-- Loop through the accountList to generate options -->
      <option *ngFor="let bAccount of bankUser?.accounts" [value]="bAccount">{{ bAccount.accountName }}</option>
    </select><br><br>

    <label for="account1-amount" class="form-label">Amount to be transferred</label>
    <input type="text" id="account1-amount" placeholder="Amount" required><br><br>

    <label for="account2-name" class="form-label">Account sending funds to:</label>
    <select id="account2-name" required>
      <option value="" disabled selected>Select an account</option>
      <!-- Loop through the accountList to generate options -->
      <option *ngFor="let bAccount of bankUser?.accounts" [value]="bAccount">{{ bAccount.accountName }}</option>
    </select><br><br>

    <label for="account2-amount" class="form-label">Amount to be transferred</label>
    <input type="text" id="account2-amount" placeholder="Amount" required><br><br>

    <!-- Add the submit button -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
