<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="bankUser">
      <h2 data-cy="bankUserDetailsHeading"><span jhiTranslate="durantYoungerTrustApp.bankUser.detail.title">Bank User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bankUser.id }}</span>
        </dd>
        <dt><span jhiTranslate="durantYoungerTrustApp.bankUser.internalUser">Internal User</span></dt>
        <dd>
          <span>{{ bankUser.internalUser?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bank-user', bankUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
